.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(../images/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../images/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(../images/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(../images/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(../images/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(../images/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(../images/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(../images/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(../images/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(../images/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../images/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}

.on_off {
	position: relative;
	top: 0px;
	left: 0px;
	width: 120px;
	height: 50px;
	background: url(../images/off.png);
	background-size: cover;
	float: right;
	overflow: visible;
	transform: scale(0.7,0.7);

}

.on_off2 {
	position: relative;
	top: 0px;
	left: 0px;
	width: 120px;
	height: 50px;
	background: url(../images/on.png);
	background-size: cover;
	float: right;
	overflow: visible;
	transform: scale(0.7,0.7);
	
}
.slider {
	position:relative;
	left:10px;
	top:10px;
	float: right;
	overflow:hidden;
	
	
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container embed {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
img {
	width: auto ;
	max-width: 100% ;
	height: auto ;
}



.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: rgb(33,37,41);
    position: fixed;
    height: 100%;
    overflow: auto;
	top:75px;

}

.li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
	color: white;
	border: 1px;
	border-style: solid;
	border-color: white;
	border-radius: 5px;
}

.li a.active {
    background-color: #4CAF50;
    color: white;
}

.li a:hover:not(.active) {
    background-color: #555;
    color: white;
}*/

.li img {
	width: auto ;
	max-width: 100% ;
	height: auto ;
}

.fixed-navbar {
    overflow: hidden;
    background-color: rgb(33,37,41);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
	z-index: 1;
}
.main {
  margin-top: 40px;
  
 
}
/*@media only screen and (max-width: 1500px) {
img {
	max-width: 100%;
    height: auto;
}
}
.kamerka{
	webkit-user-select: none;
*/

.fixed-navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.h3 {
	position:relative;
	left:10px;
	top:10px;
	float: right;
	overflow:hidden;
}

.default-0 {
	position: relative;
	top: 0px;
	left: 0px;
	background: url(../images/default-0.png);
	background-size: cover;
	float: right;
	overflow: hidden;
	width: 29px;
	height: 32px;
	
}
.default-1{
	position: relative;
	top: 0px;
	left: 0px;
	background: url(../images/default-1.png);
	background-size: cover;
	float: right;
	overflow: hidden;
	width: 20px;
	height: 32px;

}
.default-2 {
	position: relative;
	top: 0px;
	left: 0px;
	background: url(../images/default-2.png);
	background-size: cover;
	float: right;
	overflow: hidden;
	width: 28px;
	height: 32px;
	
}
.default-3 {
	position: relative;
	top: 0px;
	left: 0px;
	background: url(../images/default-3.png);
	background-size: cover;
	float: right;
	overflow: hidden;
	width: 28px;
	height: 32px;
	
}
.default-4 {
	position: relative;
	top: 0px;
	left: 0px;
	background: url(../images/default-4.png);
	background-size: cover;
	float: right;
	overflow: hidden;
	width: 30px;
	height: 32px;

}
.default-5 {
	position: relative;
	top: 0px;
	left: 0px;
	background: url(../images/default-5.png);
	background-size: cover;
	float: right;
	overflow: hidden;
	width: 28px;
	height: 32px;
	
}
.default-6 {
	position: relative;
	top: 0px;
	left: 0px;
	background: url(../images/default-6.png);
	background-size: cover;
	float: right;
	overflow: hidden;
	width: 28px;
	height: 32px;

}
.default-7 {
	position: relative;
	top: 0px;
	left: 0px;
	background: url(../images/default-7.png);
	background-size: cover;
	float: right;
	overflow: hidden;
	width: 26px;
	height: 32px;

}
.default-8 {
	position: relative;
	top: 0px;
	left: 0px;
	background: url(../images/default-8.png);
	background-size: cover;
	float: right;
	overflow: hidden;
	width: 28px;
	height: 32px;

}
.default-9 {
	position: relative;
	top: 0px;
	left: 0px;
	background: url(../images/default-9.png);
	background-size: cover;
	float: right;
	overflow: hidden;
	width: 26px;
	height: 32px;

}


