{% extends 'layout.html' %}

{% block body %}

{% for modul in Moduly %}
<div class="card border-success mb-3" style="max-width: 40rem;">
  <div class="card-header">{{ modul.name }}</div>
  <div class="card-body text-success">
    <h5 class="card-title">
      <form action = '/' method= 'POST'>
        <input type='submit' value='Dodaj urzadzenie' />
      </form></h5>
    <p class="card-text">

    </p>
  </div>
</div>
{% endfor %}



<!--    <div class="card border-success mb-3" style="max-width: 40rem;">
      <div class="card-header">Header</div>
      <div class="card-body text-success">
        <h4 class="card-title">Secondary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>


<div class="card border-secondary mb-3" style="max-width: 40rem;">
  <div class="card-header">Header</div>
  <div class="card-body text-secondary">
    <h4 class="card-title">Secondary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card border-secondary mb-3" style="max-width: 40rem;">
  <div class="card-header">Header</div>
  <div class="card-body text-secondary">
    <h4 class="card-title">Secondary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
-->
         <center>
        <a href="/addrec">
           <button class="btn btn-info">Dodaj modul</button>
        </a>
         </center>
{% endblock %}