{% extends 'layout.html' %}
{% block lista %}
{% for modul in Moduly %}
<li class="li">
   <a href="#a{{ modul.id }}">
      {{ modul.name }}
   </a>
</li>
{% endfor %}
{% endblock %}
{% block body %}

 <!--<div class="progress main" id="contentLoading">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:1%">
    0%
  </div>
</div>
  <div class="progress main" id="contentLoading2">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  </div>
</div> 
 <div class="progress main" id="ready">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
    100%
  </div>
</div>-->
 

  
 

{% for modul in Moduly %}

<div class="card border-success mb-3 main">
  <div class="card-header" data-spy="scroll" data-target="#list-example" data-offset="0" id="a{{ modul.id }}">{{ modul.name }}<a class='btn btn-light float-right' id='dodaj{{ modul.id }}'>+</a></div>
  <div class="card-body">
    <h5 class="card-title">
    <p class="card-text" id='text{{ modul.id }}'>
    </p>
  </div>
</div>
</h5>
<form action = '/' method= 'POST' id='post{{ modul.id }}'>
<input type='text' name='liczba_modulow' id='liczba_modulow' hidden='true' value='{{ liczba_modulow }}'>

<input type='text' name='nazwa_modul' id='id_modul{{ modul.id }}' hidden='true' value='{{ modul.id }}'>
<input type='text' name='nazwa' id='nazwa{{ modul.id }}' placeholder='nazwa' style="display: none">
<input type='text' name='rejestr' id='rejestr{{ modul.id }}' placeholder='rejestr' style="display: none">
<select id='sterowanie{{ modul.id }}' style="display: none">
  <option value='on/off'>ON/OFF</option>
  <option value='0-100%'>0-100%</option>
  <option value='RGB'>RGB</option>
  <option value='tylko do odczytu'>Tylko do odczytu</option>
  <option value='odczyt temperatura'>Odczyt temperatura</option>
  <option value='odczyt cisnienie'>Odczyt cisnienie</option>
  <option value='odczyt wilgotnosc'>Odczyt wilgotnosc</option>
  <option value='odczyt PIR'>PIR</option>
  <option value='odczyt kontaktron'>Kontaktron</option>
  <option value='odczyt prad'>Odczyt prąd</option>
  <option value='odczyt co2'><p>Odczyt CO<sub>2</sub></p></option>
  <option value='odczyt pozar'>Pozar</option>
<!--  <option value='odczyt CO2'>Stezenie CO2</option>-->
  <!--dodac opcje -->
</select>
<input type='submit' value='Dodaj urzadzenie' style="display: none" id='submit{{ modul.id }}'/>
</form>

{% endfor %}

         <center>
   <a href="/addrec">
           <button id="dodajmodul" class="btn btn-info btn-block main" onclick="wyslijAddress()">Dodaj modul</button>
   </a>
         </center>
{% endblock %}
{% block scripts %}

<script src="{{url_for('static', filename='hello.js')}}"></script>

{% endblock %}