<!doctype html>

		{% extends "layout.html" %}
		{% block body %}
<!--      <h2 class='main' style = "text-align: center;">Dodaj modul</h2>
      
      -->
				<form action = '' class='main' method = 'post'>
         <fieldset>
            <legend>Dodaj moduł</legend>
            {{ form.hidden_tag() }}
<!--					<label for = "name">Name</label><br>
					<input type = "text" name = "name" placeholder = "nazwa" /><br>
					<label for = "value1">value1</label><br>
					<input type = "number" name = "value1" placeholder = "wartosc1" /><br>
					<label for = "value2">value2</label><br>
					<input type = "number" name= "value2" placeholder = "wartosc2"><br>
					<label for = "value3">value3</label><br>
					<input type = "number" name= "value3" placeholder = "wartosc3"><br><br>
					<input type = "submit" value = "Dodaj" />-->

					<label for = "name">Nazwa</label><br>
					{{ form.name }}<br>
					<label for = "id">Adres</label><br>
					{{ form.id }}<br>
					
					<input type = "submit" value = "Dodaj" />
				</form>
            
         </fieldset>
      </form>
		{% endblock %}
